/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 26, 2025, 3:17:43 PM
    Author     : HP
*/


.scrollPane {
    -fx-background-color: red;
    -fx-padding: 10px;               /*  padding around the content */
    -fx-border-color: #3498db;       /*  border color */
    -fx-border-width: 2px;           /*  border width */
    -fx-border-radius: 10px;         /*  rounded corners */
    
}
.gridPane{
    -fx-background-color: Purple; /* purple background */
    -fx-padding: 10px;
    -fx-hgap: 10px; /* Horizontal gap between columns */
    -fx-vgap: 10px; /* Vertical gap between rows */
    -fx-border-color: #ccc;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;

}
    
/* Thumbnail Styling */
.thumbnail {
    -fx-border-color: red;  /* red border */
    -fx-border-width: 2px;
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-padding: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 2, 2);
}

/* Hover Effect */
.thumbnail:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
    -fx-border-color: #007bff; /* Change border to blue */
}


















